@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

.color-primary {
  color: #23be0a;
}
.color-secondary {
  color: #59c6d2;
}
.bg-primary {
  background-color: #23be0a;
  color: white;
}
.bg-secondary {
  background-color: #59c6d2;
  color: white;
}
.text-primary {
  color: #131313;
}
.text-playfair {
  font-family: "Playfair Display", serif;
}
.text-workSans {
  font-family: "Work Sans", sans-serif;
}
